<template>
  <div>
    <el-aside>
      <el-row class="tac">
        <el-col :span="24">
          <h5>FRONT-END KNOWLEDGE MAP</h5>
          <el-menu
            default-active="2"
            class="el-menu-vertical-demo"
            @open="handleOpen"
            @close="handleClose">
            <el-submenu index="1">
              <template slot="title">
                <i class="el-icon-location"></i>
                <span>JavaScript</span>
              </template>
              <el-menu-item-group>
                <template slot="title">知识点</template>
                <el-menu-item index="1-1">
                  <router-link to="/resource/arrayPage">数组</router-link>
                </el-menu-item>
                <el-menu-item index="1-2">对象</el-menu-item>
              </el-menu-item-group>
              <el-menu-item-group title="经典问题">
                <el-menu-item index="1-3">选项3</el-menu-item>
              </el-menu-item-group>
              <el-submenu index="1-4">
                <template slot="title">选项4</template>
                <el-menu-item index="1-4-1">选项1</el-menu-item>
              </el-submenu>
            </el-submenu>
            <el-menu-item index="2">
              <i class="el-icon-menu"></i>
              <span slot="title">导航二</span>
            </el-menu-item>
            <el-menu-item index="3" disabled>
              <i class="el-icon-document"></i>
              <span slot="title">导航三</span>
            </el-menu-item>
            <el-menu-item index="4">
              <i class="el-icon-setting"></i>
              <span slot="title">导航四</span>
            </el-menu-item>
          </el-menu>
        </el-col>
      </el-row>
    </el-aside>
    <el-main>
        <router-view></router-view>
    </el-main>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>