<template>
  <div class="main">
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
      <el-button>微博热搜</el-button>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.main {
    display: flex;
    flex-wrap: wrap;
}
.main > button {
    width: 80px;
    height: 40px;
}

</style>